.cardBanner{
    width: 100%;
    height: 100%;
    background: url(/src/assets/Banner.jpg)no-repeat center center/cover;
    background-color: linear-gradient(180deg, #1a1826, #413b5e);;
    margin-bottom: 40px;
}

.cardBanner .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: white;
}

.cardBanner p,
.cardBanner h2{
    margin: 10px 0 20px 0;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}

.btn:hover{
    opacity: 0.7;
}